@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Mulish-Bold';
  src: url('../fonts/Mulish-Bold.ttf');
}

@font-face {
  font-family: 'Mulish-Regular';
  src: url('../fonts/Mulish-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Dm-Serif-Regular';
  src: url('../fonts/DMSerifText-Regular.ttf');
}

@font-face {
  font-family: 'Dm-Serif-Italic';
  src: url('../fonts/DMSerifText-Italic.ttf');
}